<header class="header">
    <h1><%= link_to "Sample Blog", root_path %></h1>
    <nav class="navigation">
        <li><%=link_to "Home", root_path %></li>
        <li><%=link_to "About", posts_about_path %></li>
        <li><%=link_to "Contact", posts_contact_path %></li>
    </nav>
</header>
